<header>

	<div class="header-img">
		<img src="/static/assets/img/avion.jpeg" alt="Logo">
	</div>

	<div class="header-title">
		<h1>Flight Manager</h1>
	</div>


	<nav>
		<ul>
			{% if user %}
				<li>
					<a href="/logout" >Déconnexion</a>
				</li>
				{% else %}

			{% endif %}
		</ul>
	</nav>

</header>
