{% extends "../layout/base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/static/assets/css/login.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	<main>
		<section>
			<div>
				<h2>Connexion</h2>
			</div>
			<div>
				<form action="./login" method="post">
					<div>
						<label for="siretNumber">Votre numéro de Siret</label>
						<input id="siretNumber" type="text" name="siretNumber" pattern="\d{10}" maxlength="10"></input>
					{% if error %}
						<p>{{ error.siretNumber }}</p>
					{% endif %}
				</div>
				<div>
					<label for="password">Votre mot de passe</label>
					<input id="password" type="password" name="password"></input>
				{% if error %}
					<p>{{ error.password }}</p>
				{% endif %}
			</div>
			<div>
				<button type="submit">Envoyer</button>
			</div>
			<a href="/register">S'inscrire</a>
		</form>
	</div>
</section></main>{% endblock %}